<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TJ's Media Corner</title>
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="../css/line.css">
    <link rel="stylesheet" href="../css/material-symbols.css">
    <link rel="shortcut icon" href="../images/logo.jpg" type="image/jpg">
    <meta property="og:title" content="TJ's Media Corner">
    <meta property="og:description" content="Reset Your Password">
    <meta name="theme-color" content="#e2e8f0">
</head>
<body class="flex flex-col h-full">
    <header id="main-header" class=" header relative z-20 text-slate-900 dark:text-slate-400 menu menu-horizontal bg-slate-200 dark:bg-slate-900 w-full p-0">
        <nav class=" lg:flex md:flex hidden w-full justify-between p-0 nav-active">
            <ul class="flex gap-1 text-base">
                <li class="btn btn-link rounded-none text-current no-underline hover:no-underline btn-sm h-full normal-case font-bold">TJ's Media Corner</li>
            </ul>
            <ul class="flex gap-1 text-base">
                <a href="/" class="btn btn-ghost rounded-none btn-sm h-full normal-case">Home</a>
                <a href="https://tjsmediacorner.gumroad.com/" class="btn btn-ghost rounded-none btn-sm h-full normal-case">Store</a>
                <a href="/about" class="btn btn-ghost rounded-none btn-sm h-full normal-case">About</a>
                <a href="/help" class="btn btn-ghost rounded-none btn-sm h-full normal-case">Help</a>
                <li id="change-mode-btn" class="btn btn-ghost transition-all btn-square rounded-none btn-sm h-full normal-case flex justify-center items-center">
                    <i class=" aspect-square p-0 transition-all uil uil-sun block dark:hidden text-lg"></i>
                    <i class=" aspect-square p-0 transition-all uil uil-moon dark:block hidden text-lg"></i>
                </li>
            </ul>
        </nav>
        <nav class=" lg:hidden md:hidden flex w-full justify-between p-1">
            <ul id="mobile-menu" class="hidden flex-col gap-1 text-sm absolute right-0 min-w-40 dark:border-slate-700 border-b border-r text-slate-900 dark:text-slate-400 bg-slate-100 dark:bg-slate-900 p-2" style="top: 56px;">
                <a href="/" class="p-2 px-3 normal-case">Home</a>
                <a href="https://tjsmediacorner.gumroad.com/" class="p-2 px-3 normal-case">Store</a>
                <a href="/about" class="p-2 px-3 normal-case">About</a>
                <a href="/help" class="p-2 px-3 normal-case">Help</a>
            </ul>
            <li class="btn btn-link rounded-none text-current no-underline hover:no-underline btn-sm h-full normal-case font-bold">TJ's Media Corner</li>
            <div class=" h-full flex gap-2">
                <li id="change-mode-btn" class="btn btn-ghost transition-all btn-square btn-sm normal-case flex justify-center items-center">
                    <i class=" aspect-square p-0 transition-all uil uil-sun block dark:hidden text-lg"></i>
                    <i class=" aspect-square p-0 transition-all uil uil-moon dark:block hidden text-lg"></i>
                </li>
                <button id="toggle-mobile-menu" class=" btn btn-sm btn-ghost btn-square rounded-md"><i class=" material-symbols-rounded">menu</i></button>
            </div>
        </nav>
    </header>
    <main class=" flex-1 relative flex justify-center items-center bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-400">
        <article class=" grid md:grid-cols-2 grid-cols-1 md:grid-rows-1 grid-rows-2 h-full w-full relative">
            <img src="../images/poster.jpg" alt="Poster" class=" w-full h-full object-cover shadow-inner opacity-35 absolute">
            <div class=" absolute top-0 w-full h-full flex justify-center items-center">
                <div class="p-8 border-4 rounded-xl shadow-xl border-slate-400 dark:border-slate-700 bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-400">
                    <p class="text-center uppercase font-bold mb-3">Forgot Password</p>
                    <div class=" flex flex-col mb-2">
                        <label for="email" class="label label-text text-slate-600 dark:text-slate-400">Email</label>
                        <div class=" flex border-2 border-slate-400 dark:border-slate-700 rounded-xl">
                            <button class="peer btn btn-ghost btn-square hover:bg-transparent"><i class="material-symbols-rounded">mail</i></button>
                            <input id="email" type="email" placeholder="Enter email" class=" input bg-transparent flex-shrink-0 min-w-0 flex-1 input-bordered border-0 focus:outline-0 invalid:text-error rounded-none p-2" required>
                        </div>
                    </div>
                    <div class=" flex flex-col justify-center items-center p-3">
                        <button id="auth-btn" class="btn btn-primary px-20 rounded-full uppercase mb-2">Send Email</button>
                    </div>
                    <div class=" w-full flex justify-center">
                        <a id="alternative-link" href="/login" class=" text-sm text-center text-slate-600 dark:text-info p-1 underline">Go to Login</a>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <section id="alert-window" class="bg-slate-900 bg-opacity-85 hidden justify-center items-center fixed top-0 w-full h-full p-5">
        <div class=" border-4 rounded-xl shadow-xl border-slate-400 dark:border-slate-700 bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-400 lg:min-w-[21rem] md:min-w-[21rem] min-w-full">
            <div class=" flex justify-between border-b-2 border-slate-400 dark:border-slate-700">
                <p class=" px-5 flex-1 flex items-center">TJ's Media Corner</p>
                <button id="closebtn" class="btn btn-square btn-ghost hover:bg-transparent p-0"><i class=" uil uil-multiply text-xl"></i></button>
            </div>
            <p id="alert-message" class=" px-5 py-4">Message</p>
        </div>
    </section>

    <script src="../js/theme.js"></script>
    <script src="../js/mobile/ui.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/alertwindow.js"></script>
    <script type="module" src="../js/login-auth.min.js"></script>
</body>
</html>