<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="../css/line.css">
    <link rel="stylesheet" href="../css/material-symbols.css">
    <link rel="shortcut icon" href="../images/logo.jpg" type="image/jpg">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="About us">
    <meta name="theme-color" content="#e2e8f0">
</head>
<body class="flex flex-col h-full">
    <header id="main-header" class=" header relative z-20 text-slate-900 dark:text-slate-400 menu menu-horizontal bg-slate-200 dark:bg-slate-900 w-full p-0">
        <nav class=" lg:flex md:flex hidden w-full justify-between p-0 nav-active">
            <ul class="flex gap-1 text-base">
                <li class="btn btn-link rounded-none text-current no-underline hover:no-underline btn-sm h-full normal-case font-bold">{{ title }}</li>
            </ul>
            <ul class="flex gap-1 text-base">
                <a href="/" class="btn btn-ghost rounded-none btn-sm h-full normal-case">Home</a>
                <a href="https://tjsmediacorner.gumroad.com/" class="btn btn-ghost rounded-none btn-sm h-full normal-case">Store</a>
                <a href="/account" class="btn btn-ghost rounded-none btn-sm h-full normal-case">Account</a>
                <a href="/about" class="btn btn-ghost rounded-none btn-sm h-full normal-case">About</a>
                <li id="change-mode-btn" class="btn btn-ghost transition-all btn-square rounded-none btn-sm h-full normal-case flex justify-center items-center">
                    <i class=" aspect-square p-0 transition-all uil uil-sun block dark:hidden text-lg"></i>
                    <i class=" aspect-square p-0 transition-all uil uil-moon dark:block hidden text-lg"></i>
                </li>
            </ul>
        </nav>
        <nav class=" lg:hidden md:hidden flex w-full justify-between p-1">
            <ul id="mobile-menu" class="hidden flex-col gap-1 text-sm absolute right-0 min-w-40 dark:border-slate-700 border-b border-r text-slate-900 dark:text-slate-400 bg-slate-100 dark:bg-slate-900 p-2" style="top: 56px;">
                <a href="/" class="p-2 px-3 normal-case">Home</a>
                <a href="https://tjsmediacorner.gumroad.com/" class="p-2 px-3 normal-case">Store</a>
                <a href="/account" class="p-2 px-3 normal-case">Account</a>
                <a href="/about" class="p-2 px-3 normal-case">About</a>
            </ul>
            <li class="btn btn-link rounded-none text-current no-underline hover:no-underline btn-sm h-full normal-case font-bold">{{ title }}</li>
            <div class=" h-full flex gap-2">
                <li id="change-mode-btn" class="btn btn-ghost transition-all btn-square btn-sm normal-case flex justify-center items-center">
                    <i class=" aspect-square p-0 transition-all uil uil-sun block dark:hidden text-lg"></i>
                    <i class=" aspect-square p-0 transition-all uil uil-moon dark:block hidden text-lg"></i>
                </li>
                <button id="toggle-mobile-menu" class=" btn btn-sm btn-ghost btn-square rounded-md"><i class=" material-symbols-rounded">menu</i></button>
            </div>
        </nav>
    </header>
    <main class=" flex-1 relative flex justify-center items-center bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-400">
        <img src="../images/poster.jpg" alt="Gradient" class="w-full h-full absolute top-0 z-[11] opacity-35">
        <div class=" lg:w-3/5 md:w-3/5 w-full h-full z-[12] bg-slate-200 dark:bg-slate-900 text-slate-900 dark:text-slate-400 md:p-10 p-5 overflow-y-auto max-h-full">
            <p class="p-2 text-lg border-b-2 border-slate-400 dark:border-slate-700">Are AD credits permanently added to my wallet?</p>
            <div class="w-full border-b-2 border-slate-400 dark:border-slate-700 bg-slate-300 dark:bg-slate-800 p-3">
                <p class="text-sm text-slate-600 dark:text-slate-400 p-2">No, AD credits refresh every 24 hours.</p>
            </div>
            <p class="p-2 text-lg border-b-2 border-slate-400 dark:border-slate-700">What are Credits for?</p>
            <div class="w-full border-b-2 border-slate-400 dark:border-slate-700 bg-slate-300 dark:bg-slate-800 p-3">
                <p class="text-sm text-slate-600 dark:text-slate-400 p-2">You can use credits for AI generations in apps.</p>
            </div>
            <p class="p-2 text-lg border-b-2 border-slate-400 dark:border-slate-700">Do you store my data?</p>
            <div class="w-full border-b-2 border-slate-400 dark:border-slate-700 bg-slate-300 dark:bg-slate-800 p-3">
                <p class="text-sm text-slate-600 dark:text-slate-400 p-2">No, I don't. Except for your membership data, I don't store anything else.</p>
            </div>
            <p class="p-2 text-lg border-b-2 border-slate-400 dark:border-slate-700">How can I ask for support?</p>
            <div class="w-full border-b-2 border-slate-400 dark:border-slate-700 bg-slate-300 dark:bg-slate-800 p-3">
                <p class="text-sm text-slate-600 dark:text-slate-400 p-2">You can contact me through Instagram or Github. Links are available on <a href="/about" class="underline">About</a> page.</p>
            </div>
            <p class="p-2 text-lg border-b-2 border-slate-400 dark:border-slate-700">How do I remove watermarks from my projects?</p>
            <div class="w-full border-b-2 border-slate-400 dark:border-slate-700 bg-slate-300 dark:bg-slate-800 p-3">
                <p class="text-sm text-slate-600 dark:text-slate-400 p-2">Subscribe to the Watermark Membership on my Gumroad!</p>
            </div>
        </div>
    </main>
    <script src="../js/theme.js"></script>
    <script src="../js/mobile/ui.js"></script>
    <script src="../js/navbar.js"></script>
</body>
</html>