<html lang="en" class=" bg-blue-300 dark:bg-black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TJ's Media Corner</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/line.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/material-symbols.css">
    <link rel="stylesheet" href="/css/uicons-bold-rounded/css/uicons-bold-rounded.css">
    <link rel="stylesheet" href="/css/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/jpg">
    <meta property="og:title" content="TJ's Media Corner">
    <meta property="og:description" content="Where creative tools exist!">
    <meta name="theme-color" content="#e2e8f0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rochester&family=Righteous&family=Modak&display=swap" rel="stylesheet">
    <style>
        .modak-regular {
            font-family: "Modak", system-ui;
            font-weight: 400;
            font-style: normal;
        }
        .righteous-regular {
            font-family: "Righteous", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .pacifico-regular {
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;
        }
        .pacifico-light {
            font-family: "Pacifico", cursive;
            font-weight: 200;
            font-style: normal;
        }
        .rochester-regular {
            font-family: "Rochester", cursive;
            font-weight: 400;
            font-style: normal;
        }

    </style>
</head>
<body class="flex flex-col h-full overflow-y-auto from-purple-500 to-transparent bg-gradient-to-r">
    <section data-scroll data-scroll-call="scrollev" class=" size-full fixed overflow-hidden from-purple-300 dark:from-slate-900 to-blue-300 dark:to-black bg-gradient-to-br">
        <div class="size-full flex flex-col">
            <header id="main-header" class=" header z-20 text-slate-900 dark:text-slate-400 menu menu-horizontal w-full md:pt-4 md:px-12 pt-4 px-4">
                <nav class=" lg:flex md:flex hidden w-full justify-between p-0 nav-active">
                    <ul class="flex gap-1 text-base">
                        <li class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none no-underline hover:no-underline h-full font-bold uppercase">TJ's Media Corner</li>
                    </ul>
                    <ul id="menu" class="flex gap-1 text-base h-10">
                        <a href="/" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Home<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="https://tjsmediacorner.gumroad.com/" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Store<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="/about" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">About<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="/help" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Help<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <li id="share-btn" class="btn btn-ghost hover:bg-transparent border-0 shadow-none transition-all btn-square rounded-none h-full normal-case flex justify-center items-center hover:text-slate-500 dark:hover:text-slate-200">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-share-square"></i>
                        </li>
                        <li id="change-mode-btn" class="btn btn-ghost hover:bg-transparent border-0 shadow-none transition-all btn-square rounded-none h-full normal-case flex justify-center items-center hover:text-slate-500 dark:hover:text-slate-200">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-brightness block dark:hidden"></i>
                            <i class=" aspect-square p-0 transition-all fi fi-sr-moon-stars dark:block hidden"></i>
                        </li>
                    </ul>
                </nav>
                <nav class=" lg:hidden md:hidden flex w-full justify-between p-1">
                    <ul id="mobile-menu" class="hidden flex-col gap-1 text-base absolute min-w-40 shadow-lg text-slate-900 dark:text-slate-400 from-purple-300 dark:from-slate-900 to-blue-300 dark:to-black bg-gradient-to-br p-2 rounded-l-xl" style="top: 56px;right: -56px;opacity: 0;">
                        <a href="/" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-comment"></i>Home</a>
                        <a href="https://tjsmediacorner.gumroad.com/" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-store-alt"></i>Store</a>
                        <a href="/about" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-info"></i>About</a>
                        <a href="/help" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-comment"></i>Help</a>
                    </ul>
                    <li class="btn btn-link rounded-none text-current no-underline hover:no-underline h-full normal-case font-bold text-lg">TJ's Media Corner</li>
                    <div class=" h-full flex gap-2">
                        <li id="share-btn" class="btn btn-ghost border-0 shadow-none transition-all btn-square normal-case flex justify-center items-center">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-share-square text-lg"></i>
                        </li>
                        <li id="change-mode-btn" class="btn btn-ghost border-0 shadow-none transition-all btn-square normal-case flex justify-center items-center">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-brightness block dark:hidden text-lg"></i>
                            <i class=" aspect-square p-0 transition-all fi fi-sr-moon-stars dark:block hidden text-lg"></i>
                        </li>
                        <button id="toggle-mobile-menu" class=" btn btn-ghost border-0 shadow-none btn-square rounded-md"><i class=" fi fi-sr-menu-burger text-lg"></i></button>
                    </div>
                </nav>
            </header>
            <main class=" flex-1 relative overflow-hidden text-slate-900 dark:text-slate-400 flex justify-center items-center p-6 md:px-14 px-6 pt-2">
                <div class="flex justify-center items-center rounded-4xl bg-white/30 dark:bg-slate-800/30 border-2  size-full relative">
                    <div class="absolute size-full rounded-4xl bg-slate-100 dark:bg-black invert img opacity-5"></div>

                    <div class=" c-holder absolute flex md:flex-row flex-col gap-3 p-3 size-full justify-center items-center pointer-events-none dark:text-black text-slate-400 rounded-4xl ">
                        <div class=" md:w-1/2 w-full md:border-r-2 border-slate-900 dark:border-slate-400">
                            <p class=" md:text-2xl text-xl font-bold righteous-regular title text-slate-900 dark:text-slate-400 relative w-full text-center flex items-center md:justify-center justify-center">Welcome Back!</p>
                            <div class="mt-5 flex flex-col justify-center items-center gap-3 w-full p-1 md:px-20 px-2.5 pointer-events-auto">
                                <div class="md:w-2/3 w-full">
                                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
                                    <div class="relative mb-0">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fi fi-sr-envelope text-lg text-gray-500 dark:text-gray-400"></i>
                                    </div>
                                    <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" placeholder="name@xyz.com">
                                    </div>
                                </div>
                                <div class="md:w-2/3 w-full">
                                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Password</label>
                                    <div class="relative mb-1">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fi fi-sr-lock text-lg text-gray-500 dark:text-gray-400"></i>
                                    </div>
                                    <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" placeholder="xyz123">
                                    </div>
                                    <a href="/forgot-password" class=" text-sm w-full text-end block mb-2 text-slate-600 dark:text-info p-1 underline">Forgot Password?</a>
                                </div>
                                <button id="auth-btn" class="btn btn-primary bg-black dark:bg-slate-400 dark:text-black text-slate-300 border-0 hover:bg-slate-400 dark:hover:bg-slate-600 hover:text-black dark:hover:text-slate-100 hover:border-2 transition-all border-slate-500 dark:border-slate-300 shadow-none rounded-full pointer-events-auto px-10 uppercase">Login</button>
                            </div>
                        </div>
                        <div class=" md:w-1/2 w-full">
                            <div class="mt-3 flex flex-col justify-center items-center gap-3 w-full p-1 md:px-20 px-1 pointer-events-auto">
                                <!-- <a href="/signup" class="btn btn-outline border-black dark:border-slate-400 dark:text-slate-400 text-black border-2 hover:bg-slate-400 dark:hover:bg-slate-600 hover:text-black dark:hover:text-slate-100 hover:border-2 transition-all shadow-none rounded-full pointer-events-auto px-10">Create Account</a> -->
                                <a id="alternative-link" href="/signup" class=" md:text-base text-sm text-center text-slate-700 dark:text-info p-1 underline">Create Account</a>
                                <p class="w-full flex justify-center text-slate-800 dark:text-slate-300 md:my-2 my-0 text-sm">- OR -</p>
                                <button id="google-btn" class="btn btn-primary border-0 hover:border-2 text-black bg-white transition-all border-slate-500 hover:bg-slate-300 shadow-none rounded-full pointer-events-auto px-10 flex justify-center items-center gap-2">
                                    <svg class="w-4 h-4" viewBox="-0.5 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                                        <title>Google-color</title>
                                        <desc>Created with Sketch.</desc>
                                        <defs>
                                    
                                    </defs>
                                        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Color-" transform="translate(-401.000000, -860.000000)">
                                                <g id="Google" transform="translate(401.000000, 860.000000)">
                                                    <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24" id="Fill-1" fill="#FBBC05">
                                    
                                    </path>
                                                    <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333" id="Fill-2" fill="#EB4335">
                                    
                                    </path>
                                                    <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667" id="Fill-3" fill="#34A853">
                                    
                                    </path>
                                                    <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24" id="Fill-4" fill="#4285F4">
                                    
                                    </path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <!-- <i class="uil uil-google text-lg"></i> -->
                                    Continue with Google
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <p class=" w-full text-center p-5 pt-0 text-sm text-gray-600 dark:text-gray-400">2024 - Copyright, TJ's Media Corner</p>
        </div>
    </section>

    <section id="alert-window" class="bg-slate-900/85 hidden justify-center items-center fixed top-0 w-full h-full p-5">
        <div class=" border-2 rounded-2xl shadow-xl overflow-hidden bg-slate-200 dark:bg-gray-950 text-slate-900 dark:text-slate-400 md:min-w-[21rem] min-w-full">
            <div class=" flex justify-between from-purple-300 dark:from-slate-900 to-blue-300 dark:to-black bg-gradient-to-br border-b">
                <p class=" px-5 flex-1 flex items-center">TJ's Media Corner</p>
                <button id="closebtn" class="btn btn-square btn-ghost hover:bg-transparent border-0 shadow-none p-0"><i class=" uil uil-multiply text-xl"></i></button>
            </div>
            <p id="alert-message" class=" px-5 py-4">Message</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="/js/anime.min.js"></script>
    <script src="/js/locomotive-scroll.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/mobile/ui.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/alertwindow.js"></script>
    <script type="module" src="/js/login-auth.min.js"></script>
    <!-- <script src="../js/home.js"></script> -->
</body>
</html>