<html lang="en" class=" bg-blue-300 dark:bg-black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TJ's Media Corner</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/line.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/material-symbols.css">
    <link rel="stylesheet" href="/css/uicons-bold-rounded/css/uicons-bold-rounded.css">
    <link rel="stylesheet" href="/css/uicons-solid-rounded/css/uicons-solid-rounded.css">
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/jpg">
    <meta property="og:title" content="TJ's Media Corner">
    <meta property="og:description" content="Where creative tools exist!">
    <meta name="theme-color" content="#e2e8f0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rochester&family=Righteous&family=Modak&display=swap" rel="stylesheet">
    <style>
        .modak-regular {
            font-family: "Modak", system-ui;
            font-weight: 400;
            font-style: normal;
        }
        .righteous-regular {
            font-family: "Righteous", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .pacifico-regular {
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-style: normal;
        }
        .pacifico-light {
            font-family: "Pacifico", cursive;
            font-weight: 200;
            font-style: normal;
        }
        .rochester-regular {
            font-family: "Rochester", cursive;
            font-weight: 400;
            font-style: normal;
        }

    </style>
</head>
<body class="flex flex-col h-full overflow-y-auto from-purple-500 to-transparent bg-gradient-to-r">
    <section data-scroll data-scroll-call="scrollev" class=" size-full fixed overflow-hidden from-purple-300 dark:from-slate-900 to-blue-300 dark:to-black bg-gradient-to-br">
        <div class="size-full flex flex-col">
            <header id="main-header" class=" header z-20 text-slate-900 dark:text-slate-400 menu menu-horizontal w-full md:pt-4 md:px-12 pt-4 px-4">
                <nav class=" lg:flex md:flex hidden w-full justify-between p-0 nav-active">
                    <ul class="flex gap-1 text-base">
                        <li class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none no-underline hover:no-underline h-full font-bold uppercase">TJ's Media Corner</li>
                    </ul>
                    <ul id="menu" class="flex gap-1 text-base h-10">
                        <a href="/" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Home<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="/apps" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Apps<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="/account" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Account<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="https://tjsmediacorner.gumroad.com/" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Store<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="/about" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">About<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <a href="/help" class="btn btn-ghost hover:bg-transparent border-0 shadow-none rounded-none h-full normal-case relative hover:text-slate-500 dark:hover:text-slate-200">Help<span class="block absolute h-0.5 w-full bottom-0 left-0 bg-slate-500 dark:bg-slate-200" style="width: 0;"></span></a>
                        <li id="share-btn" class="btn btn-ghost hover:bg-transparent border-0 shadow-none transition-all btn-square rounded-none h-full normal-case flex justify-center items-center hover:text-slate-500 dark:hover:text-slate-200">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-share-square"></i>
                        </li>
                        <li id="change-mode-btn" class="btn btn-ghost hover:bg-transparent border-0 shadow-none transition-all btn-square rounded-none h-full normal-case flex justify-center items-center hover:text-slate-500 dark:hover:text-slate-200">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-brightness block dark:hidden"></i>
                            <i class=" aspect-square p-0 transition-all fi fi-sr-moon-stars dark:block hidden"></i>
                        </li>
                    </ul>
                </nav>
                <nav class=" lg:hidden md:hidden flex w-full justify-between p-1">
                    <ul id="mobile-menu" class="hidden flex-col gap-1 text-base absolute min-w-40 shadow-lg text-slate-900 dark:text-slate-400 from-purple-300 dark:from-slate-900 to-blue-300 dark:to-black bg-gradient-to-br p-2 rounded-l-xl" style="top: 56px;right: -56px;opacity: 0;">
                        <a href="/" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-home"></i>Home</a>
                        <a href="/apps" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-apps-add"></i>Apps</a>
                        <a href="/account" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-user"></i>Account</a>
                        <a href="https://tjsmediacorner.gumroad.com/" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-store-alt"></i>Store</a>
                        <a href="/about" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-info"></i>About</a>
                        <a href="/help" class="p-2 px-3 normal-case flex gap-3 items-center"><i class="fi fi-sr-comment"></i>Help</a>
                    </ul>
                    <li class="btn btn-link rounded-none text-current no-underline hover:no-underline h-full normal-case font-bold text-lg">TJ's Media Corner</li>
                    <div class=" h-full flex gap-2">
                        <li id="share-btn" class="btn btn-ghost border-0 shadow-none transition-all btn-square normal-case flex justify-center items-center">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-share-square text-lg"></i>
                        </li>
                        <li id="change-mode-btn" class="btn btn-ghost border-0 shadow-none transition-all btn-square normal-case flex justify-center items-center">
                            <i class=" aspect-square p-0 transition-all fi fi-sr-brightness block dark:hidden text-lg"></i>
                            <i class=" aspect-square p-0 transition-all fi fi-sr-moon-stars dark:block hidden text-lg"></i>
                        </li>
                        <button id="toggle-mobile-menu" class=" btn btn-ghost border-0 shadow-none btn-square rounded-md"><i class=" fi fi-sr-menu-burger text-lg"></i></button>
                    </div>
                </nav>
            </header>
            <main class=" flex-1 relative overflow-hidden text-slate-900 dark:text-slate-400 flex justify-center items-center p-6 md:px-14 px-6 pt-2">
                <div class="flex justify-center items-center rounded-4xl bg-white/30 dark:bg-slate-800/30 border-2  size-full relative">
                    <div class="absolute size-full rounded-4xl bg-slate-100 dark:bg-black invert img opacity-5"></div>

                    <div class=" c-holder absolute flex flex-col gap-3 md:px-3 px-8 py-10 size-full items-center pointer-events-auto dark:text-black text-slate-400 rounded-4xl overflow-y-auto">
                        <p class=" md:text-2xl text-xl font-bold righteous-regular title text-slate-900 dark:text-slate-400 relative w-full text-center flex items-center md:justify-center justify-center">Pricing</p>
                        <div class="w-full flex justify-center p-3">
                            <label class="inline-flex items-center cursor-pointer">
                                <span class="me-3 text-base font-medium text-gray-900 dark:text-gray-400">Monthly</span>
                                <input id="cycle" type="checkbox" value="" class="sr-only peer">
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
                                <span class="ms-3 text-base font-medium text-gray-900 dark:text-gray-400">Yearly</span>
                            </label>
                        </div>
                        <div class="flex md:flex-row flex-col lg:justify-center md:justify-start justify-start md:items-start items-center md:gap-10 gap-6 mt-5 md:w-auto w-full">
                            <div class="border-2 border-transparent bg-gradient-to-r from-green-400 to-green-600 p-1 rounded-xl md:min-w-80 min-w-full w-full max-w-sm">
                                <div
                                    class="w-full max-w-sm p-4 from-green-200 dark:from-slate-900 to-slate-100 dark:to-black bg-gradient-to-br rounded-lg shadow-md sm:p-8 relative">
                                    <div class="md:size-24 size-20 rounded-full absolute right-5 top-5">
                                        <img src="/images/leaf.png" alt="Free" class="size-full object-cover">
                                    </div>
                                    <h5 class="mb-4 text-xl font-semibold text-green-600 dark:text-green-400">Free Tier</h5>
                                    
                                    <div class="flex items-baseline text-gray-900 dark:text-white">
                                        <span class="text-3xl font-semibold">$</span>
                                        <span class="text-5xl font-extrabold tracking-tight amount">0</span>
                                        <span class="ms-1 text-xl font-medium text-gray-700 dark:text-gray-400 cycle">/month</span>
                                    </div>

                                    <ul role="list" class="space-y-5 my-7 mb-0">
                                        <!-- Features -->
                                        <li class="flex items-center">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                            <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">100 credits</span>
                                        </li>
                                        <li class="flex items-center">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                            <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">AI Text Generation</span>
                                        </li>
                                        <li class="flex items-center">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                            <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">AI Image Generation</span>
                                        </li>
                                        <li class="flex items-center">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                            <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">AI Prompt Enhance</span>
                                        </li>

                                        <p class=" pb-1 pt-4 font-semibold text-green-600 dark:text-green-400 flex gap-2 items-center">Lifetime Trials <i class="fi fi-sr-info" data-tooltip-target="tooltip-once-per-account"></i></p>
                                        <!-- Features NOT included -->
                                        <li class="flex items-center opacity-80">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5 contrast-50" alt="Check">
                                            <span class="text-base font-normal text-gray-700 dark:text-gray-400 ms-3">Image Multiview (3 trials)</span>
                                        </li>
                                        <li class="flex items-center opacity-80">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5 contrast-50" alt="Check">
                                            <span class="text-base font-normal text-gray-700 dark:text-gray-400 ms-3">Image Variants (3 trials)</span>
                                        </li>
                                        <li class="flex items-center opacity-80">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5 contrast-50" alt="Check">
                                            <span class="text-base font-normal text-gray-700 dark:text-gray-400 ms-3">Background Removal (3 trials)</span>
                                        </li>
                                        <li class="flex items-center opacity-80">
                                            <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5 contrast-50" alt="Check">
                                            <span class="text-base font-normal text-gray-700 dark:text-gray-400 ms-3">Text-to-Speech (3 trials)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="flex md:flex-row flex-col-reverse md:justify-center justify-start md:items-start items-center md:gap-10 gap-6 md:w-auto w-full">
                                <div class="border-2 border-transparent bg-gradient-to-r from-yellow-300 to-yellow-500 p-1 rounded-xl md:scale-110 scale-100 mt-3 md:min-w-80 min-w-full w-full max-w-sm">
                                    <div
                                        class="w-full max-w-sm p-4 from-yellow-200 dark:from-slate-900 to-slate-100 dark:to-black bg-gradient-to-br rounded-lg shadow-md sm:p-8 relative">
                                        <div class="md:size-28 size-24 rounded-full absolute right-3 top-3">
                                            <img src="/images/gold-frame.png" alt="Gold" class="size-full object-cover">
                                        </div>
                                        <h5 class="mb-4 text-xl font-semibold text-yellow-600 dark:text-yellow-400">Gold Tier</h5>
                                        
                                        <div class="flex items-baseline text-gray-900 dark:text-white">
                                            <span class="text-3xl font-semibold">$</span>
                                            <span class="text-5xl font-extrabold tracking-tight amount">4</span>
                                            <span class="ms-1 text-xl font-medium text-gray-700 dark:text-gray-400 cycle">/month</span>
                                        </div>
    
                                        <ul role="list" class="space-y-5 my-7">
                                            <!-- Features -->
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3 flex gap-1 items-center">100 <i class="fi fi-sr-info" data-tooltip-target="tooltip-free"></i> + 250 Credits</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">Everything in Silver Tier</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">Text-to-Speech</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3 flex gap-2 items-center">Export to Screenplay <i class="fi fi-sr-info" data-tooltip-target="tooltip-snote"></i></span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3 flex gap-2 items-center">Priority Queue</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3 flex gap-2 items-center">Early Features</span>
                                            </li>
    
                                            <!-- Features NOT included -->
                                            <!-- <li class="flex items-center line-through opacity-80">
                                                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828665.png" class="shrink-0 w-4 h-4" alt="Cross">
                                                <span class="text-base font-normal text-gray-700 dark:text-gray-400 ms-3">Sketch Files</span>
                                            </li> -->
                                        </ul>
    
                                        <button type="button"
                                            class="cursor-pointer text-white from-yellow-400 to-yellow-600 bg-gradient-to-r hover:from-yellow-500 hover:to-yellow-600 transition-all focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full">
                                            Choose Plan
                                        </button>
                                    </div>
                                </div>
    
                                <div class="border-2 border-transparent bg-gradient-to-r from-slate-400 to-slate-600 p-1 rounded-xl md:min-w-80 min-w-full w-full max-w-sm">
                                    <div
                                        class="w-full max-w-sm p-4 from-slate-200 dark:from-slate-900 to-slate-100 dark:to-black bg-gradient-to-br rounded-lg shadow-md sm:p-8 relative">
                                        <div class="md:size-24 size-20 rounded-full absolute right-3 top-3">
                                            <img src="/images/star.png" alt="Free" class="size-full object-cover brightness-100 dark:brightness-200">
                                        </div>
                                        <h5 class="mb-4 text-xl font-semibold text-slate-600 dark:text-slate-400">Silver Tier</h5>
                                        
                                        <div class="flex items-baseline text-gray-900 dark:text-white">
                                            <span class="text-3xl font-semibold">$</span>
                                            <span class="text-5xl font-extrabold tracking-tight amount">2</span>
                                            <span class="ms-1 text-xl font-medium text-gray-700 dark:text-gray-400 cycle">/month</span>
                                        </div>
    
                                        <ul role="list" class="space-y-5 my-7">
                                            <!-- Features -->
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3 flex gap-1 items-center">100 <i class="fi fi-sr-info" data-tooltip-target="tooltip-free2"></i> + 100 Credits</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3 flex gap-2 items-center">Everything in Free Tier <i class="fi fi-sr-info" data-tooltip-target="tooltip-better-model"></i></span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">No Watermark</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">Background Removal</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">Image Multiview</span>
                                            </li>
                                            <li class="flex items-center">
                                                <img src="https://cdn-icons-png.flaticon.com/128/845/845646.png" class="shrink-0 w-5 h-5" alt="Check">
                                                <span class="text-base font-medium text-gray-700 dark:text-gray-300 ms-3">Image Variants</span>
                                            </li>
    
                                            <!-- Features NOT included -->
                                            <li class="flex items-center line-through opacity-80">
                                                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828665.png" class="shrink-0 w-4 h-4" alt="Cross">
                                                <span class="text-base font-normal text-gray-700 dark:text-gray-400 ms-3">Text-to-Speech</span>
                                            </li>
                                            <li class="flex items-center line-through opacity-80">
                                                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828665.png" class="shrink-0 w-4 h-4" alt="Cross">
                                                <span class="text-base font-normal text-gray-700 dark:text-gray-400 ms-3">Export to Screenplay</span>
                                            </li>
                                        </ul>
    
                                        <button type="button"
                                            class="cursor-pointer text-white from-slate-400 to-slate-600 bg-gradient-to-r hover:from-slate-500 hover:to-slate-600 transition-all focus:ring-4 focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full">
                                            Choose Plan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <p class=" w-full text-center p-5 pt-0 text-sm text-gray-600 dark:text-gray-400">2024 - Copyright, TJ's Media Corner</p>
        </div>
    </section>

    <div id="tooltip-free" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700 max-w-40 text-center">
        Free
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <div id="tooltip-free2" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700 max-w-40 text-center">
        Free
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <div id="tooltip-once-per-account" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700 max-w-40 text-center">
        Redeemed once per account for all tiers
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <div id="tooltip-snote" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700 max-w-40 text-center">
        Storynote
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <div id="tooltip-better-model" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700 max-w-40 text-center">
        Better Models
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="/js/anime.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/mobile/ui.js"></script>
    <script src="/js/navbar.js"></script>
    <script>
        let cycle = document.getElementById("cycle");
        cycle.onchange = () => {
            if(cycle.checked) {
                document.querySelectorAll(".amount").forEach(am => {
                    am.innerText = Number(am.innerText) * 12;
                    am.nextElementSibling.innerText = "/year";
                });
            } else {
                document.querySelectorAll(".amount").forEach(am => {
                    am.innerText = Number(am.innerText) / 12;
                    am.nextElementSibling.innerText = "/month";
                });
            }
        }
    </script>
    <!-- <script src="../js/home.js"></script> -->
</body>
</html>
